{% load i18n %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<ul multiple="multiple" class="CA-MultiselectDropdown__Select">
    <li {% if spec.selected %}class="selected"{% endif %}>
        <div class="submit-row CA-MultiselectDropdown">
            <select style="width: 95%" >
                {% for choice in choices %}
                    <option value="{{ choice.query_string }}" {% if choice.selected %}selected="selected"{% endif %}>{{ choice.display }}</option>
                {% endfor %}
            </select>
            <p class="help">{% trans 'Hold down "Control", or "Command" on a Mac, to select more than one.' %}</p>

            <p class="submit-row">
                <input style="width:47%" type="reset" value="{% trans "Clear" %}" data-reset-url="{{ spec.reset_url }}">
                <input style="width:47%" type="submit" value="{% trans "Search" %}" data-field-name="{{ spec.lookup_kwarg }}">
            </p>
        </div>
    </li>
</ul>
